# Build artifacts
/build/
/target

# Book build output
/book-build/

# Compiler output
*.bin
*.s
!build/boot/stage2.s
!build/boot/stage2.bin

# REPL / temporary test files
a.out
a.out.bin
a.out.s
out
henp
t.zyl
t.bin
t.s.s
.aider*
